.home-page{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
}
.side-menu{
    display: inline-block;
    background-color: #078798;
    width: 450px;
    height: 100%;
}
.main-view{
    display: inline-block;
    background-color: white;
    height: 1050%;
    width: 100%;
}
.side-menu-title{
    text-align: center;
}
.side-menu-title h1{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 30px;

}
.sign-out-bar{
    width: 100%;
    height: 80px;
    background-color: #0F5A64;
}
.sign-out-button{
    color: white;
    width: 120px;
    height: 40px;
    background-color: #0F5A64;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
    margin: 18px;
}
.sign-out-button:hover{
    background-color: #0b474f;

}

.side-menu-option-buttons{
    margin-top: 200px;
}
.option-button{
    width: 100%;
    height: 70px;
    color: white;
    background-color: #078798;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-align: left;
    padding-left: 16px;
}
.option-button:hover{
    background-color: #026D7C;
    transition: 0.3s;
}
.button-image{
    width: 22px;
    height: 22px;
    margin-right: 15px;
}
.date-balance-bar{
    background-color: #F4F4F4;
    height: 80px;
    display: flex;
    font-size: 25px;
}
.date-side{
    width: 50%;
    padding-left: 30px;
}
.balance-side{
    width: 50%;
    padding-right: 30px;
    text-align: right;
}
.data-view{
    margin: auto;
    margin-top: 46px;
    width: 90%;
    height: 75vh;
    overflow: auto;
}
table{
    width: 100%;
    text-align: left;
}
thead th{
    /* position: sticky; */
    top: 0px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 40px;
}
th{
    height: 40px;
    font-size: 20px;
    padding-bottom: 21px;
    font-weight: 400;
}
.reason-tr{
    max-width: 250px;
    min-width: 250px;
    overflow-y: auto;
}
.deleteButton{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.deleteButton img{
    width: 35px;
    height: 35px;
}

.select-currency-button{
    color: white;
    background-color: #0F5A64;
    cursor: pointer;
    border: none;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
}
.currency-dropdown-list{
    position: absolute;
    right: 10px;
    width: 100px;

}
.currency-dropdown-list button{
    display: block;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #0F5A64;
    padding: 15px;
    border: none;
    cursor: pointer;
    margin: 1px;
    border-radius: 7px;
}

.currency-dropdown-list button:hover{
    background-color: #0e4047;
}